[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
rdflib = {git = "https://github.com/RDFLib/rdflib.git"}

[requires]
python_version = "3.7"
